.site-content {

	> * {
		margin: $margin-top auto $margin-bottom auto;
	}

	> *:not(.alignfull) {
		max-width: $site_width;
		padding: 0 $padding-right 0 $padding-left;
	}

	> .alignwide {
		max-width: $wide_width;
	}
}


.has-text-color {
	&.has-black-color {
		a {
			color: $black;
		}
	}
}

.has-avatars {
	.wp-block-latest-comments__comment {
		display: inline-flex;
		margin: 10px;

		footer.wp-block-latest-comments__comment-meta {
			margin-left: 0;
		}
	}
}

.wp-block-categories-list {
	margin-bottom: 28px;
	list-style: none;
	margin-top: 10px;

	.cat-item {
		padding-bottom: 10px;
	}
}

.wp-block-social-links {
	margin-bottom: 28px;
}

.wp-block-post-title {
	a {
		color: $dark-gray-200;

		&:hover {
			color: $color__link-hover;
		}
	}
}
